@using LibraryBookLoaningSystem.ViewModels;
@using Microsoft.AspNetCore.Identity
@model IEnumerable<LibraryBookLoaningSystem.Models.Books>;
@inject UserManager<LibraryBookLoaningSystem.IdentityModels.Users> userManager
@{
    ViewData["Title"] = "Return books";
    var user = userManager.GetUserId(User);
    var transInfo = ViewBag.TransInfo;
}

<h1>Return books</h1>
<hr />
<table class="table table-responsive table-striped table-hover align-middle">
    <thead>
        <tr class="text-center">
            <th>@Html.DisplayNameFor(model => model.BookTitle)</th>
            <th>@Html.DisplayNameFor(model => model.BookDescription)</th>
            <th>@Html.DisplayNameFor(model => model.BookAuthor)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr class="text-center">
                <td>@Html.DisplayFor(model => book.BookTitle)</td>
                <td>@Html.DisplayFor(model => book.BookDescription)</td>
                <td>@Html.DisplayFor(model => book.BookAuthor)</td>
                <td>
                    @foreach (var trans in transInfo)
                    {
                        if (trans.BookId == book.BookId)
                        {
                            <a asp-controller="Return" asp-action="Details" asp-route-bookId="@book.BookId" asp-route-transId="@trans.TransactionId" asp-route-userId="@user" class="btn btn-success">Return Details</a>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>